@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

html,
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
}

/* Menu Panel */
#menu-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  background-color: darkgreen;
  padding: 0 5%;
}

#menu-panel p {
  font-size: 10px;
}

/* Header Logo */
h1 {
  color: floralwhite;
  font-size: 72px;
  margin: 2rem 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar li {
  list-style: none;
  font-size: 16px;
}

#navbar li a {
  text-decoration: none;
  color: crimson;
}

#navbar li a:hover {
  color: brown;
}



/* Search Box Styling */
#search-box #year,
#inputTeamSearch,
#round {
  margin: 1rem 0;
}

.input-field {
  font-size: 16px;
}

#teamSearchHelpText {
  font-size: 10px;
  color: floralwhite;
}

button {
  font-size: 16px;
}

#results-panel {
  position: fixed;
  top: 0;
  left: 40%;
  height: 100vh;
  width: 60%;
  overflow: scroll;
  background-color: floralwhite;
  padding: 2rem 5%;
  text-align: left;
}

.date {
  padding-left: 0.5rem;
}

.card {
  width: 100%;
  text-align: center;
  margin: 5rem 0;
  border: 2px solid crimson;
  border-radius: 0;
  ;
}

.card-head {
  width: 100%;
  background-color: crimson;
  color: white;
  text-align: center;
  font-size: 16px;
}

.card-top {
  display: flex;
  margin: 2rem 0;
}

.team-details {
  width: 40%;
  font-size: 16px;
}

.team-details img {
  margin: 1rem;
}

.team-details .team-name {
  font-size: 10px;
}

.inner {
  width: 20%;
  font-size: 16px;
  text-align: center;
  margin: auto;
}

.game-details {
  background-color: rgba(220, 20, 60, 0.4);
  color: white;
  font-size: 16px;
}

.react-icons {
  font-size: 24px;
  color: lightslategrey;
}